body{
    background-color: #141414  ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
  }

  /* Navbar container */
  .navbar {
    display: flex;
    justify-content: space-between;  /* Espaço entre logo e ícone de usuário */
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background-color: #232323    ;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  /* Logo (pode ser imagem ou texto) */
  .navbar .logo {
    display: flex;
    align-items: center;
  }
  .logo label{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
  }

  /* Container do ícone de usuário */
  .navbar .user-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #ddd; /* cor de fundo do círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* ponteiro para interação */
  }

  /* Exemplo de ícone de usuário, pode ser uma letra ou imagem */
  .navbar .user-icon::before {
    content: 'U'; /* Placeholder de usuário */
    font-weight: bold;
    color: #555;
  }

  .logo img{
    height: 60px;
  }