body {
    background-color: #141414 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
    padding: 0 20px;
    height: 80px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
        0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 55px;
    width: 55px;
}
.logo a {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

/**
  * Navbar links
  */
.nav-bar {
    display: flex;
    width: calc(100% - 300px);
    align-items: center;
    height: 100%;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    height: 100%;
    margin: 0 4px;
}

.nav-bar a:hover {
    background-color: #333;
    border-radius: 5px;
}
/**
  * user
  */
.user {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user img {
    border: 3px solid #ff600d;
    border-radius: 50%;
}
.user:hover {
    transform: scale(0.9);
    transition: 100ms;
}
.user a {
    text-decoration: none;
    color: #ff600d;
    font-size: 28px;
}

/**
 * notofication
 */

.notify {
    z-index: 1;
    position: absolute;
    top: 90px;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.toast {
    display: block !important;
}

.container {
    background-color: transparent !important;
}

.resgistro {
    width: 400px !important;
}

.form-center {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.transaction-form,
.company-forms {
    width: 600px !important;
}

/*
 * Form images
 */

.form-center img {
    width: 150px;
    height: 150px;
}

/***/
.transacao-card {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 20px 25px;
    margin-bottom: 15px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transacao-card:hover {
    transform: scale(1.01);
}

.transacao-info {
    width: 380px;
}

.transacao-info .label {
    font-size: 14px;
    color: #aaa;
    font-weight: bold;
}

.transacao-info .valor {
    font-size: 18px;
    color: #fff;
}

.status {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.card-secondary {
    color: #fff !important;
}
.card-secondary .valor {
    font-size: 14px;
}
.card-secondary .label {
    font-size: 12px;
    font-weight: bold;
}

.amount {
    width: 140px;
}
.pagador {
    width: 260px;
}
.recebedor {
    width: 260px;
}

.card-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.transacao-acoes {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 91px;
}

.btn-reprovar,
.btn-aprovar {
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.status-pending {
    background-color: orange;
    color: #1e1e1e;
}

.status-approved {
    background-color: #28a745;
    color: #1e1e1e;
}

.status-rejected {
    background-color: #dc3545;
    color: #1e1e1e;
}

.btn-aprovar {
    background-color: #28a745;
}
.btn-reprovar {
    background-color: #dc3545;
}

/***/
